In [1]:
import numpy as np

In [2]:
arr = np.load('../../data/custom_median.npy')
arr.shape

(26378244, 30)

In [1]:
import pandas as pd
df = pd.read_csv('../../data/annual_mean_base.csv')
df.columns

Index(['pftCrop', 'pftShrubBD', 'ign', 'faPAR', 'precip', 'temp_max'], dtype='object')

In [2]:
df.shape

(2198187, 6)

In [3]:
df.shape[0]/9

244243.0

In [4]:
mean = df.mean(axis = 1)

In [5]:
mean.shape

(2198187,)

In [8]:
df.to_csv('../../data/all_mean.csv',index = False)

In [9]:
mean = pd.read_csv('../../data/all_mean.csv')
mean.head()

   pftCrop  pftShrubBD  ign     faPAR       precip  temp_max
0  0.00037    0.014883  0.0  0.355189   823.126289  8.241667
1  0.00037    0.014883  0.0  0.358491   878.642670  9.066667
2  0.00037    0.014883  0.0  0.213130   738.668304  8.233334
3  0.00037    0.014883  0.0  0.201222   785.473183  8.633333
4  0.00037    0.014883  0.0  0.189196  1010.882393  8.033333

In [10]:
import numpy as np
arr = np.load('../../data/custom_median.npy')
arr.shape

(26378244, 30)

In [11]:
arr = arr.reshape((-1,108,30))

In [12]:
arr.shape

(244243, 108, 30)

In [23]:
mean = np.mean(arr, axis = 1)

In [24]:
mean.shape

(244243, 30)

In [14]:
col = np.load('../../data/column_names.npy')
col

array(['lat 0', 'lon 1', 'time 2', 'road_density 3', 'agb 4', 'sm 5',
       'pftCrop 6', 'pftHerb 7', 'pftShrubBD 8', 'pftShrubNE 9',
       'pftTreeBD 10', 'pftTreeBE 11', 'pftTreeND 12', 'pftTreeNE 13',
       'GDP_per_capita_PPP 14', 'ign 15', 'faPAR 16', 'LAI 17',
       'vod_K_anomalies 18', 'primn 19', 'pet 20', 'wet 21', 'precip 22',
       'pastr 23', 'Band1 24', 'pop_density 25',
       'Distance_to_populated_areas 26', 'Diurnal temperature range 27',
       'temp_max 28', 'Livestock 29'], dtype='<U30')

In [15]:
col = ['lat', 'lon', 'time', 'road_density', 'agb', 'sm',
       'pftCrop ', 'pftHerb', 'pftShrubBD', 'pftShrubNE',
       'pftTreeBD', 'pftTreeBE', 'pftTreeND', 'pftTreeNE',
       'GDP', 'ign', 'faPAR', 'LAI',
       'vod_K_anomalies', 'primn', 'pet', 'wet', 'precip',
       'pastr', 'Band1', 'pop_density',
       'Distance_to_populated_areas', 'dtr',
       'tmax', 'livestock']

In [17]:
len(col)

30

In [25]:
import pandas as pd
df = pd.DataFrame(mean, columns=col)
df.head()

,lat,lon,time,road_density,agb,sm,pftCrop,pftHerb,pftShrubBD,pftShrubNE,...,pet,wet,precip,pastr,Band1,pop_density,Distance_to_populated_areas,dtr,tmax,Livestock
0,-55.75,-67.00,200707.0,0.0,2.546035,0.000000,0.000370,0.035766,0.014883,0.000000,...,1.301852,9.600000,69.128201,0.000000e+00,0.000000,-9999.000000,0.000000,6.883333,8.475000,0.0
1,-55.50,-68.00,200707.0,0.0,12.175016,0.028599,0.000000,0.110025,0.052926,0.000037,...,1.400375,9.467059,63.122047,9.194717e-02,16.373036,-6671.900622,0.000000,6.329630,8.428704,0.0
2,-55.50,-67.25,200707.0,0.0,8.896142,0.000000,0.000000,0.000000,0.000000,0.000000,...,1.357032,9.888234,55.862763,0.000000e+00,0.000000,-9999.000000,0.000000,6.883333,8.475000,0.0
3,-55.25,-69.50,200707.0,0.0,23.858570,0.031292,0.000000,0.205769,0.035595,0.000810,...,1.571759,8.524861,58.967910,4.058153e-07,0.000000,0.061183,95843.007812,6.427778,7.910185,0.0
4,-55.25,-69.25,200707.0,0.0,24.163124,0.030322,0.000617,0.252517,0.056320,0.000486,...,1.562037,8.636204,57.485869,0.000000e+00,0.000000,-1109.011070,79927.492188,6.746296,8.099074,0.0

In [22]:
df.to_csv('../../data/all_mean.csv',index=False)