In [3]:
import pandas as pd
import matplotlib.pyplot as plt
from netCDF4 import Dataset
%matplotlib inline

In [37]:
#Train is from 2003-2011
#test is from 2012-2016
df = pd.read_pickle("../data/test.pkl")
df.head()

,lat,lon,time,agb,pft_fracCover,sm,pftCrop,pftHerb,pftShrubBD,pftShrubNE,...,dtr,pet,tmx,wet,Biome,precip,Livestock,road_density,topo,pop_density
0,-89.75,-179.75,201201.5,NaN,0.0,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,99.0,NaN,0.0,NaN,1.0,0.0
1,-89.75,-179.75,201202.5,NaN,0.0,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,99.0,NaN,0.0,NaN,1.0,0.0
2,-89.75,-179.75,201203.5,NaN,0.0,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,99.0,NaN,0.0,NaN,1.0,0.0
3,-89.75,-179.75,201204.5,NaN,0.0,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,99.0,NaN,0.0,NaN,1.0,0.0
4,-89.75,-179.75,201205.5,NaN,0.0,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,99.0,NaN,0.0,NaN,1.0,0.0

In [39]:
df.tail()

,lat,lon,time,agb,pft_fracCover,sm,pftCrop,pftHerb,pftShrubBD,pftShrubNE,...,dtr,pet,tmx,wet,Biome,precip,Livestock,road_density,topo,pop_density
59097595,90.0,180.0,201605.5,NaN,0.0,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,0.0,NaN,0.0,NaN,NaN,0.0
59097596,90.0,180.0,201606.5,NaN,0.0,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,0.0,NaN,0.0,NaN,NaN,0.0
59097597,90.0,180.0,201607.5,NaN,0.0,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,0.0,NaN,0.0,NaN,NaN,0.0
59097598,90.0,180.0,201608.5,NaN,0.0,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,0.0,NaN,0.0,NaN,NaN,0.0
59097599,90.0,180.0,201609.5,NaN,0.0,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,0.0,NaN,0.0,NaN,NaN,0.0

In [ ]:
df.describe()

In [ ]:
df.columns

In [ ]:
df['pft_fracCover'].describe()

In [ ]:
df['pftCrop'].describe()

In [19]:
df1 = Dataset('../Data/grid.nc')

In [36]:
import numpy as np
df_new = df1['subset_flag'][:]
lat = df1['lat'][:]
lon = df1['lon'][:]
df_new = np.array(df_new)
lat = np.array(lat)
lon = np.array(lon)

In [25]:
type(df_new)

numpy.ma.core.MaskedArray

In [41]:
lat = lat+.125

In [42]:
lat[:5]

array([90.  , 89.75, 89.5 , 89.25, 89.  ])

In [43]:
lon[:5]

array([-179.875, -179.625, -179.375, -179.125, -178.875])

In [44]:
lon = lon+.125

In [45]:
lon[:5]

array([-179.75, -179.5 , -179.25, -179.  , -178.75])

In [50]:
ocean = df_new!=0
type(ocean[0][0])

numpy.bool_

In [51]:
test = np.where(ocean=='False')
type(test)

<ipython-input-51-60ea4ce89272>:1: FutureWarning: elementwise comparison failed; returning scalar instead, but in the future will perform elementwise comparison
  test = np.where(ocean=='False')

tuple

In [ ]:
df1 = pd.DataFrame(df1['subset_flag'])

In [ ]:
dir(df1['subset_flag'])

In [ ]:
df1['subset_flag'].shape

In [ ]:

plt.plot(df1['subset_flag'],'.')
plt.show()

In [ ]:
df1.variables