In [1]:
import pandas as pd
import matplotlib.pyplot as plt
from netCDF4 import Dataset

In [2]:
#Train is from 2003-2011
#test is from 2012-2016
df = pd.read_pickle("../data/test.pkl")
df.head()

,lat,lon,time,agb,pft_fracCover,sm,pftCrop,pftHerb,pftShrubBD,pftShrubNE,...,dtr,pet,tmx,wet,Biome,precip,Livestock,road_density,topo,pop_density
0,-89.75,-179.75,200301.5,NaN,0.0,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,99.0,NaN,0.0,NaN,1.0,0.0
1,-89.75,-179.75,200302.5,NaN,0.0,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,99.0,NaN,0.0,NaN,1.0,0.0
2,-89.75,-179.75,200303.5,NaN,0.0,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,99.0,NaN,0.0,NaN,1.0,0.0
3,-89.75,-179.75,200304.5,NaN,0.0,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,99.0,NaN,0.0,NaN,1.0,0.0
4,-89.75,-179.75,200305.5,NaN,0.0,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,99.0,NaN,0.0,NaN,1.0,0.0

In [6]:
df.describe()

,lat,lon,time,agb,pft_fracCover,sm,pftCrop,pftHerb,pftShrubBD,pftShrubNE,...,dtr,pet,tmx,wet,Biome,precip,Livestock,road_density,topo,pop_density
count,1.119744e+08,1.119744e+08,1.119744e+08,4.958971e+07,1.119744e+08,2.144936e+07,1.723304e+07,2.595886e+07,2.591843e+07,2.555226e+07,...,2.910492e+07,2.870867e+07,2.910492e+07,2.910492e+07,1.119744e+08,3.141871e+07,1.119744e+08,2.832829e+07,37144980.0,1.119744e+08
mean,1.250000e-01,1.250000e-01,2.007070e+05,2.373005e+01,1.573521e-01,2.082445e-01,2.200859e-01,1.839959e-01,7.288410e-02,2.755602e-02,...,1.109182e+01,2.741753e+00,1.458642e+01,9.508651e+00,1.051035e+01,6.353266e+01,1.986815e+02,1.704600e+02,1.0,1.046089e+01
std,5.196147e+01,1.039230e+02,2.582220e+02,4.833197e+01,3.280015e-01,7.959973e-02,2.945873e-01,1.514433e-01,7.935206e-02,2.660990e-02,...,3.801139e+00,2.120854e+00,1.825140e+01,6.590017e+00,2.754817e+01,9.452650e+01,1.156945e+03,8.078738e+02,0.0,1.726564e+02
min,-8.975000e+01,-1.797500e+02,2.003015e+05,0.000000e+00,0.000000e+00,0.000000e+00,4.936834e-05,6.171491e-06,4.937193e-06,2.468596e-06,...,0.000000e+00,0.000000e+00,-5.000000e+01,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,1.0,0.000000e+00
25%,-4.481250e+01,-8.981250e+01,2.005042e+05,0.000000e+00,0.000000e+00,1.524739e-01,4.444223e-03,5.661817e-02,1.440014e-02,4.030783e-03,...,8.300000e+00,8.000000e-01,2.200000e+00,4.180000e+00,0.000000e+00,8.130000e+00,0.000000e+00,0.000000e+00,1.0,0.000000e+00
50%,1.250000e-01,1.250000e-01,2.007070e+05,6.074981e-01,0.000000e+00,2.097315e-01,6.111000e-02,1.724318e-01,5.001234e-02,1.884439e-02,...,1.080000e+01,2.700000e+00,1.900000e+01,9.150000e+00,0.000000e+00,2.890000e+01,0.000000e+00,4.200000e+01,1.0,0.000000e+00
75%,4.506250e+01,9.006250e+01,2.009098e+05,2.619809e+01,0.000000e+00,2.656618e-01,3.546399e-01,2.500432e-01,9.869745e-02,4.815722e-02,...,1.360000e+01,4.000000e+00,3.000000e+01,1.385000e+01,6.000000e+00,7.665000e+01,0.000000e+00,1.390000e+02,1.0,0.000000e+00
max,9.000000e+01,1.800000e+02,2.011125e+05,3.412600e+02,1.000000e+00,1.000000e+00,1.000000e+00,7.000000e-01,6.000000e-01,2.008293e-01,...,4.050000e+01,1.260000e+01,4.810000e+01,3.100000e+01,9.900000e+01,3.821850e+03,1.695468e+05,1.528060e+05,1.0,3.808370e+04

In [7]:
df.columns

Index(['lat', 'lon', 'time', 'agb', 'pft_fracCover', 'sm', 'pftCrop',
       'pftHerb', 'pftShrubBD', 'pftShrubNE', 'pftTreeBD', 'pftTreeBE',
       'pftTreeND', 'pftTreeNE', 'GDP', 'ign', 'Distance_to_populated_areas',
       'fPAR', 'LAI', 'NLDI', 'vod_K_anomalies', 'FPAR_12mon', 'LAI_12mon',
       'Vod_k_anomaly_12mon', 'FPAR_06mon', 'LAI_06mon', 'Vod_k_anomaly_06mon',
       'WDPA_fracCover', 'dtr', 'pet', 'tmx', 'wet', 'Biome', 'precip',
       'Livestock', 'road_density', 'topo', 'pop_density'],
      dtype='object')

In [8]:
df['pft_fracCover'].describe()

count    1.119744e+08
mean     1.573521e-01
std      3.280015e-01
min      0.000000e+00
25%      0.000000e+00
50%      0.000000e+00
75%      0.000000e+00
max      1.000000e+00
Name: pft_fracCover, dtype: float64

In [9]:
df['pftCrop'].describe()

count    1.723304e+07
mean     2.200859e-01
std      2.945873e-01
min      4.936834e-05
25%      4.444223e-03
50%      6.111000e-02
75%      3.546399e-01
max      1.000000e+00
Name: pftCrop, dtype: float64

In [2]:

df1 = Dataset("../data/grid.nc",'r',format = 'NETCDF4')
df1

<class 'netCDF4._netCDF4.Dataset'>
root group (NETCDF4 data model, file format HDF5):
    Conventions: CF-1.6
    id: grid.nc
    date_created: 2022-04-14 17:11:12
    geospatial_lat_min: -89.875
    geospatial_lat_max: 89.875
    geospatial_lon_min: -179.875
    geospatial_lon_max: 179.875
    gpidirect: 11
    shape: [1440  720]
    dimensions(sizes): lat(720), lon(1440)
    variables(dimensions): int32 crs(), int32 gpi(lat, lon), float64 lat(lat), float64 lon(lon), int16 cell(lat, lon), int8 subset_flag(lat, lon)
    groups:

In [6]:
type(df1)

netCDF4._netCDF4.Dataset

In [7]:
df1['subset_flag']

<class 'netCDF4._netCDF4.Variable'>
int8 subset_flag(lat, lon)
    long_name: subset_flag
    units:
    coordinates: lat lon
    flag_values: [0 1]
    flag_meanings: water land
    valid_range: [0 1]
unlimited dimensions:
current shape = (720, 1440)
filling on, default _FillValue of -127 ignored

In [8]:
dir(df1['subset_flag'])

['__array__',
 '__class__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattr__',
 '__getattribute__',
 '__getitem__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__le__',
 '__len__',
 '__lt__',
 '__ne__',
 '__new__',
 '__orthogonal_indexing__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 '_assign_vlen',
 '_check_safecast',
 '_cmptype',
 '_enumtype',
 '_get',
 '_getdims',
 '_getname',
 '_grp',
 '_grpid',
 '_has_lsd',
 '_iscompound',
 '_isenum',
 '_isprimitive',
 '_isvlen',
 '_name',
 '_ncstring_attrs__',
 '_nunlimdim',
 '_pack',
 '_put',
 '_toma',
 '_use_get_vars',
 '_varid',
 '_vltype',
 'always_mask',
 'assignValue',
 'chartostring',
 'chunking',
 'coordinates',
 'datatype',
 'delncattr',
 'dimensions',
 'dtype',
 'endian',
 'filters',
 'flag_meanings',
 'flag_values',
 'getValue',
 'get_dims',
 'get_var_chunk_cache',
 'getncattr',
 'group',
 'long_name',
 'mask',
 'name',
 'ncattrs',
 'ndim',
 'quantization',
 'renameAttribute',
 'scale',
 'set_always_mask',
 'set_auto_chartostring',
 'set_auto_mask',
 'set_auto_maskandscale',
 'set_auto_scale',
 'set_collective',
 'set_ncstring_attrs',
 'set_var_chunk_cache',
 'setncattr',
 'setncattr_string',
 'setncatts',
 'shape',
 'size',
 'units',
 'use_nc_get_vars',
 'valid_range']

#

In [7]:
df1.variables

{'crs': <class 'netCDF4._netCDF4.Variable'>
 int32 crs()
     grid_mapping_name: latitude_longitude
     longitude_of_prime_meridian: 0.0
     semi_major_axis: 6378137.0
     inverse_flattening: 298.257223563
     ellipsoid_name: WGS84
 unlimited dimensions:
 current shape = ()
 filling on, default _FillValue of -2147483647 used,
 'gpi': <class 'netCDF4._netCDF4.Variable'>
 int32 gpi(lat, lon)
     long_name: Grid point index
     units:
     valid_range: [      0 1036799]
 unlimited dimensions:
 current shape = (720, 1440)
 filling on, default _FillValue of -2147483647 used,
 'lat': <class 'netCDF4._netCDF4.Variable'>
 float64 lat(lat)
     long_name: Latitude
     units: degree_north
     standard_name: latitude
     valid_range: [-90.  90.]
 unlimited dimensions:
 current shape = (720,)
 filling on, default _FillValue of 9.969209968386869e+36 used,
 'lon': <class 'netCDF4._netCDF4.Variable'>
 float64 lon(lon)
     long_name: Longitude
     units: degree_east
     standard_name: longitude
     valid_range: [-180.  180.]
 unlimited dimensions:
 current shape = (1440,)
 filling on, default _FillValue of 9.969209968386869e+36 used,
 'cell': <class 'netCDF4._netCDF4.Variable'>
 int16 cell(lat, lon)
     long_name: Cell
     units:
     valid_range: [   0 2591]
 unlimited dimensions:
 current shape = (720, 1440)
 filling on, default _FillValue of -32767 used,
 'subset_flag': <class 'netCDF4._netCDF4.Variable'>
 int8 subset_flag(lat, lon)
     long_name: subset_flag
     units:
     coordinates: lat lon
     flag_values: [0 1]
     flag_meanings: water land
     valid_range: [0 1]
 unlimited dimensions:
 current shape = (720, 1440)
 filling on, default _FillValue of -127 ignored}